
.login_form {

	width: 10%;
	height: 10%;

	text-align: right;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {

    margin: 0;       
}





.fridge-recipes {

    margin: auto;
    width: 50%;

    padding: 10px;
}

.btn {

    margin-left: 10px;
    margin-bottom: 10px;


}

.plan-header {
font-weight: ;
font-size: 1.5em ;

}

.rec-image {
    text-align: center;


}