{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}


<h1> Do you have any of the following allergies? ;) </h1>
<h2> If yes - check the box! :) </h2>
<form action="/allergy" method="POST">
	<br>
	Allergies: 
	<br>
	<br>
	<input type="checkbox", name="allergen1", value="Gluten"> Gluten <br>
	<input type="checkbox", name="allergen2", value="Wheat"> Wheat <br>
	<input type="checkbox", name="allergen3", value="Tree-Nuts"> Tree-Nuts <br>
	<input type="checkbox", name="allergen4", value="Shellfish"> Shellfish <br>
	<input type="checkbox", name="allergen5", value="Soy"> Soy <br>
	<br>
	<input type="submit" value="Submit">
</form>

{% endblock %}	