{% extends 'base.html' %}

{% block title %}Allergies{% endblock %}

{% block content %}


<br><br>
<h3> Check the box if you have any of these allergies: </h3>
<!-- <form action="/allergy" method="POST">
	<br>
	Allergies: 
	<br>
	<br>
	<input type="checkbox", name="allergen1", value="Gluten"> Gluten <br>
	<input type="checkbox", name="allergen2", value="Wheat"> Wheat <br>
	<input type="checkbox", name="allergen3", value="Tree-Nuts"> Tree-Nuts <br>
	<input type="checkbox", name="allergen4", value="Shellfish"> Shellfish <br>
	<input type="checkbox", name="allergen5", value="Soy"> Soy <br>
	<input type="checkbox", name="allergen6", value="Eggs"> Eggs <br>
	<input type="checkbox", name="allergen7", value="Milk"> Milk <br>
	<br>
	<input type="submit" value="Submit">
</form> -->

<br>
<form action="/allergy" class="center-allergies" method="POST">

<div class="form-check">
    <input type="checkbox" name="allergen1" value="Gluten" class="form-check-input" id="defaultUnchecked1">
    <label class="form-check-label" for="defaultUnchecked1">Gluten</label>
</div>

<div class="form-check">
    <input type="checkbox" name="allergen2" value="Wheat" class="form-check-input" id="defaultUnchecked2">
    <label class="form-check-label" for="defaultUnchecked2">Wheat</label>
</div>

<div class="form-check">
    <input type="checkbox" name="allergen3" value="Tree-Nuts" class="form-check-input" id="defaultUnchecked3">
    <label class="form-check-label" for="defaultUnchecked3">Tree-Nuts</label>
</div>

<div class="form-check">
    <input type="checkbox" name="allergen4" value="Shellfish" class="form-check-input" id="defaultUnchecked4">
    <label class="form-check-label" for="defaultUnchecked4">Shellfish</label>
</div>

<div class="form-check">
    <input type="checkbox" name="allergen5" value="Soy" class="form-check-input" id="defaultUnchecked5">
    <label class="form-check-label" for="defaultUnchecked5">Soy</label>
</div>

<div class="form-check">
    <input type="checkbox" name="allergen6" value="Eggs" class="form-check-input" id="defaultUnchecked6">
    <label class="form-check-label" for="defaultUnchecked6">Eggs</label>
</div>

<div class="form-check">
    <input type="checkbox" name="allergen7" value="Milk" class="form-check-input" id="defaultUnchecked7">
    <label class="form-check-label" for="defaultUnchecked7">Milk</label>
</div>


<input type="submit" value="Submit" class="btn btn-primary">
</form>


{% endblock %}	