{% extends 'base.html' %}


{% block title %}Selection of {{ user }}'s breakfast{% endblock %}
{% block content %}


	<h1> Your mealplan: </h1>
	<ol>
	{% for result in results %}
		<li>PLAN</li>
		{% for r in result %}<br><br>
			<img src="{{ r['image'] }}"><br><br>
			<a href="{{ r['directions'] }}">{{ r['name'] }}</a><br><br>

			Number of servings: {{ r['servings'] }}<br>
			Calories per serving: {{ (r['calories'] / r['servings']) | round }}kcal <br>
		    Carbohydrates: {{ (r['carbohydrates'] / r['servings']) | round }}g <br>
		    Fat: {{ (r['fat'] / r['servings']) | round }}g <br>
		    Protein: {{ (r['protein'] / r['servings']) | round }}g <br>

			{% endfor %}<br>
		<form action="/add-mealplan" method="POST">
		<input type="hidden" name="recipes_list" value="{{ result }}">
		<input type="submit" value="Add">
		<br><br>	
	{% endfor %}


	</ol>

	<form action="http://0.0.0.0:5000/preferences">
    	<input type="submit" value="Let me change my mind!" />
	</form>


	<a href="http://0.0.0.0:5000/display-all-mealplans">Check your mealplans!</a><br><br>



{% endblock %}	