 {% extends 'base.html' %}


{% block title %}Selection of {{ user }}'s breakfast{% endblock %}
{% block content %}


<div class="container breakfast">
  <br>
    <div class="recipe-header"><h3>Your mealplans:</h3></div>
    <br><br>
      <div class="row">
        {% for plan in plan_lst %}
          <div class="col-sm">
            Plan name: <a href="/plans/{{ plan['plan_id'] }}">{{ plan['name'] }}</a> <br>
            Calories: {{ plan['calories'] | round }} kcal<br>
            Carbohydrates: {{ plan['carbohydrates'] | round }}g<br>
            Fat: {{ plan['fat'] | round }}g<br>
            Protein: {{ plan['protein'] | round }}g
          <br><br><br>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}  