{% extends 'base.html' %}

{% block title %}{{ user }}'s mealplan for today! {% endblock %}

{% block content %}
<div class="container breakfast">
	<br>
	<div class="recipe-header"><h1> Your mealplan: </h1></div>
	<div class="row">
	{% for result in results %}
		<div class="col-sm">
			<div class="rec-link">
				<img src="{{ result['recipe_image'] }}"><br><br>

				<h5><a href="{{ result['directions'] }}">{{ result['recipe_name'] }}</a></h5>
			</div>
				Number of servings: {{ result['servings'] }}<br>
				Calories per serving: {{result['calories_per_serving'] | round }}kcal <br>
			    Carbohydrates: {{ (result['carbohydrates'] / result['servings'])|round }}g <br>
			    Fat: {{ (result['fat'] / result['servings'])|round }}g <br>
			    Protein: {{ (result['protein'] / result['servings'])|round }}g <br>
				<br>
			
		</div>

	{% endfor %}
	</div>

		<h3>Whole plan nutrition facts:</h3>
			Calories: {{ calories_sum | round }}
			<br>Carbohydrates: {{ carbohydrates_sum | round }}
			<br>Fat: {{ fat_sum | round }}
			<br>Protein: {{ protein_sum | round }}
	<br><br><br>
	<div class="rec-link">
		<h3><a href="http://54.245.221.241/shopping-list">Let's check the shopping list!</a></h3>
	</div>
	<br><br>
</div>
{% endblock %}	


