{% extends 'base.html' %}

{% block title %}Shopping list{% endblock %}

{% block content %}

<div class="header"> <h1> Your shopping list: </h1></div>
<br><br><br><br>
<div class="row">
{% for recipe_name in recipes_names %}
	<div class="col-sm recipe-name-bolded">


		{{ recipe_name }} <br>


		</div>
{% endfor %}
</div>

<br><br>



<div class="row">
{% for result in results %}
	<div class="col-sm result">
	{% for r in result %}

		{{ r }} <br>

	{% endfor %}
		</div>
{% endfor %}
</div>
<!-- % for key, value in results.items() %} -->

	<!-- li> key }} ({{ value}}g)</li> -->

<!-- % endfor %} -->


{% endblock %}	