{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

  <div class="row">

  	Homepage.
  	Welcome

  </div> 
  	<br>
  	<!-- add the bootstrap navbar -->
  	<!-- add logout button ad hide with the js-could be hard //session in jinja- shopping ac =cart melon cart=>
  	<!- in css: jquery click set css visible block tutorial hide show jquery-->
<!-- modal window jquery and bootstrap-->
<!--  -->


	<a href="http://0.0.0.0:5000/register">Sign in</a><br><br>
	<a href="http://0.0.0.0:5000/login">Sign up</a><br><br>
	<a href="http://0.0.0.0:5000/make-a-meal-from-fridge">Make a meal from your fridge!</a>




{% endblock %}