{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<!--   <nav class="navbar navbar-light bg-light">
    <form class="form-inline" id="nav">
      <button class="btn btn-outline-success" type="button" id="make-a-meal-from-fridge">Make a meal from your fridge!</button>
    </form>
  </nav> -->


  <div class="row">

  	Homepage.
  	Welcome. 

    Type some text what your page do. <br><br>

    <h2>Do you struggle with new ideas for your meal?</h2><br><br>

    <h3>Do you want to build your shape and need to be super strict to your macros and calories but bored about rutine recipes?</h3> <br><br>

    <h3>Are you allergic? Need some assistance with choosing special type of diet?</h3> <br><br>

    <h4>Have a full fridge and no idea what to do for a special dinner?</h4> <br><br>
    <h5>Have almost empty fridge?</h5> <br><br>
    Tell me what is in your fridge!

    <h1>This site is for you!<h1> <br><br>
    <h1> This app will help you to build your mealplan!</h1> <br><br>

  </div> 
  	<br>


  	<!-- <!- in css: jquery click set css visible block tutorial hide show jquery--> -->
<!-- modal window jquery and bootstrap-->
<!--  -->


<!-- 	<a href="http://0.0.0.0:5000/register">Sign in</a><br><br>
	<a href="http://0.0.0.0:5000/login">Sign up</a><br><br>
	<a href="http://0.0.0.0:5000/make-a-meal-from-fridge">Make a meal from your fridge!</a> -->


 <!--    <script >

 
    $(document).ready(function() {
      $('#make-a-meal-from-fridge').on('click', function() {
        document.location = '/make-a-meal-from-fridge';
      });
    });


    </script> -->




{% endblock %}