<!doctype html>
<html>

  <head>
    <title>{% block title %}Meal{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--     <link rel="stylesheet" href="/static/dietly.css"> -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




  <style>
    @import url('https://fonts.googleapis.com/css?family=Parisienne');
  </style>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<style>

  body{  
        background: url("/static/cook-food-kitchen-eat-54455.jpeg") no-repeat;
        background-size: cover;
      }

  div {
      column-count: 3;
      font-size: 14pt;
     }
  
  p {

      text-align: center;
      column-count: 1;
    }

  .container {

    background: white;
    margin-top: 50px;
    padding-left: 100px;

  }

  .dietly-small{
    font-family: 'Parisienne', cursive;
  }


</style>




    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand dietly-small">Dietly</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if session['user_id'] %} 
        <li class="nav-item">
          <a class="nav-link" href="/preferences">Create a new plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/display-all-mealplans">My mealplans</a>
        </li>
        {% endif %}
      </ul>


     {% if not session['user_id'] %} 
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="register">Register</button>
      </form>

       
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="login">Log In</button>
      </form>
      {% else %}
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="logout">Log Out</button>
      </form>

      {% endif %}




    </div>
  </nav>


  </head>

  <body>

<div class="container">
  <br></br>
  <br><br> <h9>Please select up to 3 options: </h9></br>
  <br></br>
  <br>
</div>

<div class="container">


  <form action="/make-a-meal-from-fridge" method="POST">


    <br> Fruits & veggies:</br>

    <br>

    <input type="checkbox", name="option22", value="apple"> Apple <br>
    <input type="checkbox", name="option3", value="avocado"> Avocado <br>
    <input type="checkbox", name="option27", value="cauliflower"> Cauliflower <br>
    <input type="checkbox", name="option17", value="chickpeas"> Chickpeas <br>
    <input type="checkbox", name="option12", value="cucumber"> Cucumber <br>
    <input type="checkbox", name="option23", value="lettuce"> Lettuce <br>
    <input type="checkbox", name="option30", value="mushrooms"> Mushrooms <br>
  	<input type="checkbox", name="option4", value="onion"> Onion <br>
  	<input type="checkbox", name="option8", value="pepper"> Pepper <br>
  	<input type="checkbox", name="option10", value="potato"> Potato <br>
    <input type="checkbox", name="option2", value="tomato"> Tomato <br>
    <input type="checkbox", name="option32", value="zucchini"> Zucchini <br>
  	<br><br>

    <br> Milk & Dairy: </br>

    <br>

    <input type="checkbox", name="option18", value="butter"> Butter <br>
    <input type="checkbox", name="option16", value="cheese"> Cheese <br>
    <input type="checkbox", name="option11", value="eggs"> Eggs <br>
    <input type="checkbox", name="option5", value="milk"> Milk <br>
    <input type="checkbox", name="option14", value="cream"> Sour cream <br>
    <input type="checkbox", name="option13", value="yoghurt"> Yoghurt <br>

    <input type="checkbox", name="option1", value="chicken"> Chicken <br>
    <input type="checkbox", name="option20", value="breast"> Chicken Breast <br>
    <input type="checkbox", name="option29", value="cod"> Cod <br>
    <input type="checkbox", name="option21", value="beef"> Ground Beef <br> 
    <input type="checkbox", name="option15", value="ham"> Ham <br>
    <input type="checkbox", name="option31", value="sausage"> Sausage <br>
    <br>
    <br>
    <br> Spice it Up! </br>
    <br>

  	<input type="checkbox", name="option33", value="vinegar"> Balsamic vinegar <br>
    <input type="checkbox", name="option6", value="ginger"> Ginger <br>
    <input type="checkbox", name="option28", value="mustard"> Mustard <br>
    <input type="checkbox", name="option19", value="garlic"> Garlic <br>
    <input type="checkbox", name="option24", value="honey"> Honey <br>
    <input type="checkbox", name="option25", value="ketchup"> Ketchup <br>
    <input type="checkbox", name="option26", value="mayo"> Mayo <br>
    <input type="checkbox", name="option7", value="oregano"> Oregano <br>
    <input type="checkbox", name="option9", value="parsley"> Parsley <br>
  	<input type="checkbox", name="option34", value="peppers"> Peppers <br>
    <br>
  	<input type="submit" value="Submit" class="btn btn-success">

  </form>

</div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  


  <script>

    $(document).ready(function() {
      $('#register').on('click', function() {
        document.location = '/register';
      });
    });

    $(document).ready(function() {
      $('#login').on('click', function() {
        document.location = '/login';
      });
    });

    $(document).ready(function() {
      $('#logout').on('click', function() {
        document.location = '/logout';
      });
    });

    $(document).ready(function() {
      $('#fridge').on('click', function() {
        document.location = '/make-a-meal-from-fridge';
      });
    });



  </script>


  </body>

</html>
