{% extends 'base.html' %}

{% block title %}Diets' options{% endblock %}

{% block content %}

<form action="/options" method="POST">
	<br>
	Do you like your meal to be...
	<br>
	<br>
	<input type="checkbox", name="option1", value="Alcohol-Free"> Alcohol-Free? <br>
	<input type="checkbox", name="option2", value="Peanut-Free"> Peanut-Free? <br>
	<input type="checkbox", name="option3", value="Sugar-Conscious"> Sugar-Conscious? <br>
	<input type="checkbox", name="option4", value="Tree-Nut-Free"> Tree-Nut-Free? <br>
	<input type="checkbox", name="option5", value="None"> Vegan? <br>
	<input type="checkbox", name="option6", value="None"> Vegetarian? <br>
	<input type="checkbox", name="option7", value="None"> High-Protein? <br>
	<input type="checkbox", name="option8", value="None"> Low-Carb? <br>
	<input type="checkbox", name="option9", value="None"> Low-Fat? <br>
	<input type="checkbox", name="option10", value="None"> Balanced? <br>
	<input type="submit" value="Submit">
</form>



{% endblock %}
