{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<form action="/options" method="POST">
	<br>
	Do you like your meal to be...
	<br>
	<br>
	<input type="checkbox", name="option1", value="Alcohol-Free"> Alcohol-Free? <br>
	<input type="checkbox", name="option2", value="Balanced"> Balanced? <br>
	<input type="checkbox", name="option3", value="High-Protein"> High-Protein? <br>
	<input type="checkbox", name="option4", value="Low-Carb"> Low-Carb? <br>
	<input type="checkbox", name="option5", value="Low-Fat"> Low-Fat? <br>
	<input type="checkbox", name="option6", value="Peanut-Free"> Peanut-Free? <br>
	<input type="checkbox", name="option7", value="Sugar-Conscious"> Sugar-Conscious? <br>
	<input type="checkbox", name="option8", value="Tree-Nut-Free"> Tree-Nut-Free? <br>
	<input type="checkbox", name="option9", value="Vegan"> Vegan? <br>
	<input type="checkbox", name="option10", value="Vegetarian"> Vegetarian? <br>
	<br>
	<input type="submit" value="Submit">
</form>



{% endblock %}
