<h2>If you want to take control about the macros please ...blablabla</h2>
<h5>(It has to sum up to 100%)</h5>

<!-- just a number - grams -->

<h4>Carbohydrates:</h4>
<form>
  <input type="radio" name="carbs" value="75"> 75 <br>
  <input type="radio" name="carbs" value="60"> 60 <br>
  <input type="radio" name="carbs" value="50"> 50
</form>








<h2>Any other preferences?</h2>
<form action="/options" method="POST">
	<br>
	Do you like your meal to be...
	<br>
	<br>
	<input type="checkbox", name="option1", value="Alcohol-Free"> Alcohol-Free? <br>
	<input type="checkbox", name="option2", value="Balanced"> Balanced? <br>
	<input type="checkbox", name="option3", value="High-Protein"> High-Protein? <br>
	<input type="checkbox", name="option4", value="Low-Carb"> Low-Carb? <br>
	<input type="checkbox", name="option5", value="Low-Fat"> Low-Fat? <br>
	<input type="checkbox", name="option6", value="Peanut-Free"> Peanut-Free? <br>
	<input type="checkbox", name="option7", value="Sugar-Conscious"> Sugar-Conscious? <br>
	<input type="checkbox", name="option8", value="Tree-Nut-Free"> Tree-Nut-Free? <br>
	<input type="checkbox", name="option9", value="Vegan"> Vegan? <br>
	<input type="checkbox", name="option10", value="Vegetarian"> Vegetarian? <br>
	<br>
	<input type="submit" value="Submit">
</form>