{% extends 'base.html' %}

{% block title %} {{ user }}'s preferences{% endblock %}

{% block content %}






<form id="preferences" method="POST">
    <div class="card  my-3">
      <div class="card-body">
		<h1> {{ user }}, let's create a mealplan! </h1>
		  <div class="form-row">
			  <div class="form-group col-md-6">
			    <label for="plan_name">Plan name</label>
			    <input type="text" name="plan_name" required class="form-control" id="plan_name" placeholder="My meal plan...">
			  </div>

			  <div class="form-group col-md-6">
			    <label for="calories">Calories</label>
			    <input type="number" name="calories"  max=4000 required class="form-control" id="calories" placeholder="Up to 4000kcal">
			  </div>
		</div>

		<br>

		<span class="macros">
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="macro" value="grams" id="grams" checked required>
			  <label class="form-check-label" for="grams">
			    Marco-nutrients in grams
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="radio" name="macro" value="percentage" id="percentage">
			  <label class="form-check-label" for="percentage">
			    Marco-nutrients in %
			  </label>
			</div>
		</span>

		<br>

		  <div class="form-row">
		    <div class="form-group col-md-4">
		      <label for="carbs">Carbohydrates</label>
		      <input id="carbs" type="number" name="carbohydrates" min=0 max=200  class="form-control" placeholder="Carbohydrates" required>
		    </div>
		    <div class="form-group col-md-4">
		      <label for="fat">Fat</label>
		      <input id="fat" type="number" name="fat" min=0 max=200  class="form-control" placeholder="Fat" required>
		    </div>
		    <div class="form-group col-md-4">
		      <label for="protein">Protein</label>
		      <input id="protein" type="number" name="protein" min=0 max=200  class="form-control" placeholder="Protein" required>
		    </div>
		  </div>

		  <input type="button" id="breakfast" class="btn btn-success" value="Just A Breakfast">
		  <input type="submit" id="mealplan" class="btn btn-success" value="Whole Mealplan">
		</div>
	</div>
	</div>
</form>




<!-- 



	<form id="preferences" method="POST">
		<h3> You can name your plan! </h3>
		<input type="text" name="plan_name" required><br><br>







		<h2>How many calories do you want to eat per day?</h2>
		<input type="number" name="calories"  max=4000 required><br><br>



			<h4> Type macros in percentages or grams? </h4>
			<span class="macros">
				<input type="radio" name="macro" value="percentage" required> %<br>
				<input type="radio" name="macro" value="grams"> g<br>
			</span>
				<div>
				<h3>How many percent of this would you like to spend on carbohydrates?</h3>
				<input id="carbs" type="number" name="carbohydrates" value=0 min=0 max=200 required><br><br>

				<h3>What about fat?</h3>
				<input id="fat" type="number" name="fat" value=0 min=0 max=200 required><br><br>

				<h3>And protein?</h3>
				<input id="protein" type="number" name="protein" value=0 min=0 max=200 required><br><br>
				</div>
			
		<h4>The recomendation of the Institute of Medicine:</h4>
		<h4>40-65% of daily calories from carbohydrates (1 gram of carbohydrate is 4 calories)</h4><br>
		<h4>10-35% of daily calories from protein (1 gram of protein is 4 calories)</h4><br>
		<h4>20-35% of daily calories from fat (fat provides 9 calories per gram)</h4><br><br>

<! 		<h6>Do you want your breakfast with...</h6>

  		<input type="radio" name="breakfast" value="sausages" required> sausage<br>
		<input type="radio" name="breakfast" value="pancakes"> pancake<br>
		<input type="radio" name="breakfast" value="omelette"> omelette<br>
		<input type="radio" name="breakfast" value="sandwich"> sandwich<br>
		<input type="radio" name="breakfast" value="panini"> panini<br>
		<input type="radio" name="breakfast" value="avocado"> anything with avocado!<br>
		<input type="radio" name="breakfast" value="egg"> any type of eggs<br>
		<input type="radio" name="breakfast" value="scrambled,eggs"> scrambled eggs<br>
		<input type="radio" name="breakfast" value="breakfast"> I don't have any preferences<br><br> -->

<!-- 		<input type="button" id="breakfast" class="btn btn-primary" value="Show me just a breakfast!">
		<input type="submit" id="mealplan" class="btn btn-primary" value="Show me whole mealplan!">


 -->

		<script >


			let form = document.querySelector("#preferences");
			$("#breakfast").on("click", function() {
				form.setAttribute('action', '/display-breakfast');
				form.submit();
			});

			$("#preferences").on("submit", function() {
				form.setAttribute('action', '/display-mealplan');
			});



		</script>


	</form>
		<script>
		$(document).ready(function() {
			$(".macros input").on("click", function() {

				if ($(".macros input:checked").val() === "percentage") {

			        $("#carbs").attr("max", 100);
			        $("#fat").attr("max", 100);
			        $("#protein").attr("max", 100);

			        let total = 100

			        let carbs = $("#carbs").val();
			        let fat = $("#fat").val();
			        let protein = $("#protein").val();



			        console.log(carbs, fat, protein);

					// about carbs
					$("#fat").on("change", function() {
						$("#carbs").attr("max", 100-$('#fat').val());
					});

					$("#protein").on("change", function() {
						$("#carbs").attr("max", 100-$('#protein').val());
					});

					// about fat
					$("#carbs").on("change", function() {
						$("#fat").attr("max", 100-$('#carbs').val());
					});

					$("#protein").on("change", function() {
						if ($('#fat').attr('max') === 100){
							$("#fat").attr("max", 100-$('#protein').val());
					}	else if ($('#fat').attr('max') !== 100){
							$("#fat").attr("max", 100-$('#protein').val())
					}
					});

					// about protein
					$("#carbs").on("change", function() {
						$("#protein").attr("max", 100-$('#carbs').val());
					});

					$("#fat").on("change", function() {
						$("#protein").attr("max", 100-$('#fat').val());
					});	


	    		}
		  		else if ($(".macros input:checked").val() === "grams"){
			        $("#carbs").attr("max", 300);
			        $("#fat").attr("max", 300);
			        $("#protein").attr("max", 300);
	    		}	

	    	});
		});

		</script>

		<br><br><br>

{% endblock %}	