{% extends 'base.html' %}

{% block title %}Test site{% endblock %}

{% block content %}

  <div class="row">

    {{ results }}

  </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <button id="hide">Hide</button>
      <button id="show">Show</button>

      <script>
        $(document).ready(function(){
         $("#hide").click(function(){
           $("div").hide();
           });
           $("#show").click(function(){
           $("div").show();
           });
        });
      </script>


{% endblock %}
