{% extends 'base.html' %}

{% block title %}Register page{% endblock %}

{% block content %}



  <form action="/register" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signup">

              <div class="form-label-group">
                <input type="text"  name="fname" id="inputFname" class="form-control" placeholder="First Name" required autofocus>
                <label for="fname"></label>
              </div>

              <div class="form-label-group">
                <input type="text"  name="lname" id="inputLname" class="form-control" placeholder="Last Name" required autofocus>
                <label for="lname"></label>
              </div>

              <div class="form-label-group">
                <input type="email"  name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail"></label>
              </div>

              <div class="form-label-group">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword"></label>
              </div>


              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
              <hr class="my-4">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>


{% endblock %}